body
 {    
background-color: #F2FBFA;
height:50%;
}
	
#navbar{
position:absolute;
height:800px;
width:10%;

}

#content{
position:relative;
float:right;
height:50%;
width:80%;
top:10px;

}
#img{
position:static;
float:right;
left:50px;
margin-right:10px;

}

