body{

}

#main_page{
position:absolute;
margin-left:50px;;
width:80%;
margin-right:500px;
height:20%;
}

#search_page{
position:absolute;
width:30%;
margin-left:800px;
margin-right:10px;
padding-right:10px;

}
#task{
width:120%;
}